// Here you can add other styles
#description,
#treatment {
    height: 100%;
}

#description:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 100%;
    display: block;
}

.home {
    img {
        width:100%;
    }
}